<h5 class="mb-4">Admin Dashboard</h5>
<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
    <li class="nav-item" role="presentation" *appHasRole='["Admin"]'>
      <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">User Management</button>
    </li>
    <li class="nav-item" role="presentation" *appHasRole='["Admin", "Agent"]'>
      <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Statistics</button>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab" *appHasRole='["Admin"]'>
        <app-user-management></app-user-management>
    </div>
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        app user something else
    </div>
  </div>

