<div class="row">
    <div class="col-sm-12" *ngFor="let member of members">
            <app-member-card [member]="member"></app-member-card>
    </div>
</div>

<div class="d-flex justify-content-center pt-5" *ngIf="pagination">
  <pagination 
  [boundaryLinks]="true" 
  [itemsPerPage]="pagination.itemsPerPage" 
  [totalItems]="pagination.totalItems" 
  [(ngModel)]="pagination.currentPage"
  (pageChanged)="pageChanged($event)"
  previousText="&lsaquo;" 
  nextText="&rsaquo;" 
  firstText="&laquo;" 
  lastText="&raquo;">

</pagination>
</div>
